//Internal
@use "../abstracts/index" as *;

//External
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
}

.header {
	font-family: "Audiowide", cursive;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	.logo {
		max-height: 2.25rem;
		margin-right: 0.45rem;
	}
	.h1 {
		font-size: 2rem;
		font-weight: 400;
	}
}

.link {
	margin-bottom: 2rem;
}

.btn {
	@include border;
	width: min-content;
	margin: 1rem auto;
	padding: 1rem 1.75rem;
	background-color: $advizot-color;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-family: "Audiowide", cursive;

	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

	&:focus {
		@include onFocus();
	}
}

.show-responses-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
