@use "../abstracts/index" as *;

input[type="range"] {
	-webkit-appearance: none;
	display: block;
	@include border();
	border: none;
	margin-top: 10px;
	width: 88%;
	height: 8px;
	// background: whitesmoke;
	background-image: linear-gradient($advizot-color, $advizot-color);
	background-repeat: no-repeat;
	box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 22px;
	width: 19px;
	border-radius: 5px 0 5px 0;
	transform: skew(-20deg);
	background: $advizot-color;
	cursor: ew-resize;
	box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.6);
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
