@use "../abstracts/index" as *;

.responses-ul {
	.response-li {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		text-align: center;
		margin-bottom: 5vh;

		.response-p {
			padding: 0 2vw 7px;

			strong {
				text-decoration: underline;
			}
		}
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	.modal-content {
		background-color: #fff;
		padding: $padding 15px;

		.modal-header,
		.modal-footer {
			padding: 10px;
		}

		.modal-body {
			padding: 10px;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
	}
}
